# Generic build files

*.o
*.obj
*.so
*.dylib
*.bundle

# MinGW build files

dll.base
dll.exp
*.def

# Debian package build files
build-stamp
configure-stamp
patch-stamp
test-stamp
debian/

# Junk

*.dif
*.diff
*.gz
*.old
*.ori
*.orig
*.rej
*.tmp
*.patch
tmp*
tmp_*

# MATLAB files
*.m

# PDL temp files
ppcode.out

# Perl build files

_eumm
pm_to_blib
blib
*.bs
Makefile
Makefile.aperl
MYMETA.yml
MYMETA.json
perl
perlmain.c

# Editor temp files

*~
#   VIM
.*.swp

._*

# Strange mac files

._*

# Devel::Cover files
*.gcda
*.gcno
*.gcov
cover_db/

nytprof*

# Directory specific build files
# These can either be in the specific directories or specified
# with full patch in the top level directory (as here).

.inlinepdlpp
.inlinewith
Basic/Bad/Bad.c
Basic/Bad/Bad.pm
Basic/Bad/Bad.xs
Basic/Complex/Complex.c
Basic/Complex/Complex.pm
Basic/Complex/Complex.xs
Basic/Core/Config.pm
Basic/Core/Core.c
Basic/Core/Types.pm
Basic/Core/pdl.h
Basic/Core/pdlperl.h
Basic/Core/pdlsimple.h
Basic/Gen/PP/Dump.pm
Basic/Gen/pptemplate.pod
Basic/Math/Math.c
Basic/Math/Math.pm
Basic/Math/Math.xs
Basic/MatrixOps/MatrixOps.c
Basic/MatrixOps/MatrixOps.pm
Basic/MatrixOps/MatrixOps.xs
Basic/Ops/Ops.c
Basic/Ops/Ops.pm
Basic/Ops/Ops.xs
Basic/Pod/PP-Inline.pod
Basic/Primitive/Primitive.c
Basic/Primitive/Primitive.pm
Basic/Primitive/Primitive.xs
Basic/Slices/Slices.c
Basic/Slices/Slices.pm
Basic/Slices/Slices.xs
Basic/Ufunc/Ufunc.c
Basic/Ufunc/Ufunc.pm
Basic/Ufunc/Ufunc.xs
Demos/BAD2_demo.pm
Demos/BAD_demo.pm
Doc/Doc/Config.pm
Graphics/IIS/IIS.c
Graphics/IIS/IIS.pm
Graphics/IIS/IIS.xs
Graphics/PGPLOT/Window/Window.c
Graphics/TriD/OpenGL/OpenGL.c
Graphics/TriD/OpenGL/OpenGL.pm
Graphics/TriD/OpenGL/OpenGL.xs
Graphics/TriD/OpenGL/X.h.cpp
Graphics/TriD/OpenGL/gl.h.cpp
Graphics/TriD/OpenGL/glu.h.cpp
Graphics/TriD/OpenGL/glx.h.cpp
Graphics/TriD/OpenGL/glxtokens.h.cpp
Graphics/TriD/OpenGL/typemap
Graphics/TriD/OpenGLQ/OpenGLQ.c
Graphics/TriD/OpenGLQ/OpenGLQ.pm
Graphics/TriD/OpenGLQ/OpenGLQ.xs
Graphics/TriD/Rout/Rout.c
Graphics/TriD/Rout/Rout.pm
Graphics/TriD/Rout/Rout.xs
IO/Browser/Browser.c
IO/Browser/Browser.pm
IO/Browser/Browser.xs
IO/GD/GD.c
IO/GD/GD.pm
IO/GD/GD.xs
IO/HDF/SD/SD.c
IO/HDF/SD/SD.pm
IO/HDF/SD/SD.xs
IO/HDF/VS/VS.c
IO/HDF/VS/VS.pm
IO/HDF/VS/VS.xs
IO/Misc/Misc.c
IO/Misc/Misc.pm
IO/Misc/Misc.xs
IO/NDF/NDF.pm
IO/Pnm/Pnm.c
IO/Pnm/Pnm.pm
IO/Pnm/Pnm.xs
IO/Storable/Storable.c
IO/Storable/Storable.pm
IO/Storable/Storable.xs
Libtmp/CallExt/CallExt.c
Libtmp/Compression/Compression.c
Libtmp/Compression/Compression.pm
Libtmp/Compression/Compression.xs
Libtmp/FFT/FFT.c
Libtmp/FFT/FFT.pm
Libtmp/FFT/FFT.xs
Libtmp/Fit/Gaussian/Gaussian.c
Libtmp/Fit/Gaussian/Gaussian.pm
Libtmp/Fit/Gaussian/Gaussian.xs
Libtmp/GIS/Proj/Proj.c
Libtmp/GIS/Proj/Proj.pm
Libtmp/GIS/Proj/Proj.xs
Libtmp/GSL/CDF/CDF.c
Libtmp/GSL/CDF/CDF.pm
Libtmp/GSL/CDF/CDF.xs
Libtmp/GSL/DIFF/DIFF.c
Libtmp/GSL/DIFF/DIFF.pm
Libtmp/GSL/DIFF/DIFF.xs
Libtmp/GSL/INTEG/INTEG.c
Libtmp/GSL/INTEG/INTEG.pm
Libtmp/GSL/INTEG/INTEG.xs
Libtmp/GSL/INTERP/INTERP.c
Libtmp/GSL/INTERP/INTERP.pm
Libtmp/GSL/INTERP/INTERP.xs
Libtmp/GSL/LINALG/LINALG.c
Libtmp/GSL/LINALG/LINALG.pm
Libtmp/GSL/LINALG/LINALG.xs
Libtmp/GSL/MROOT/MROOT.c
Libtmp/GSL/MROOT/MROOT.pm
Libtmp/GSL/MROOT/MROOT.xs
Libtmp/GSL/RNG/RNG.c
Libtmp/GSL/RNG/RNG.pm
Libtmp/GSL/RNG/RNG.xs
Libtmp/GSL/SF/airy/AIRY.c
Libtmp/GSL/SF/airy/AIRY.pm
Libtmp/GSL/SF/airy/AIRY.xs
Libtmp/GSL/SF/bessel/BESSEL.c
Libtmp/GSL/SF/bessel/BESSEL.pm
Libtmp/GSL/SF/bessel/BESSEL.xs
Libtmp/GSL/SF/clausen/CLAUSEN.c
Libtmp/GSL/SF/clausen/CLAUSEN.pm
Libtmp/GSL/SF/clausen/CLAUSEN.xs
Libtmp/GSL/SF/coulomb/COULOMB.c
Libtmp/GSL/SF/coulomb/COULOMB.pm
Libtmp/GSL/SF/coulomb/COULOMB.xs
Libtmp/GSL/SF/coupling/COUPLING.c
Libtmp/GSL/SF/coupling/COUPLING.pm
Libtmp/GSL/SF/coupling/COUPLING.xs
Libtmp/GSL/SF/dawson/DAWSON.c
Libtmp/GSL/SF/dawson/DAWSON.pm
Libtmp/GSL/SF/dawson/DAWSON.xs
Libtmp/GSL/SF/debye/DEBYE.c
Libtmp/GSL/SF/debye/DEBYE.pm
Libtmp/GSL/SF/debye/DEBYE.xs
Libtmp/GSL/SF/dilog/DILOG.c
Libtmp/GSL/SF/dilog/DILOG.pm
Libtmp/GSL/SF/dilog/DILOG.xs
Libtmp/GSL/SF/elementary/ELEMENTARY.c
Libtmp/GSL/SF/elementary/ELEMENTARY.pm
Libtmp/GSL/SF/elementary/ELEMENTARY.xs
Libtmp/GSL/SF/ellint/ELLINT.c
Libtmp/GSL/SF/ellint/ELLINT.pm
Libtmp/GSL/SF/ellint/ELLINT.xs
Libtmp/GSL/SF/elljac/ELLJAC.c
Libtmp/GSL/SF/elljac/ELLJAC.pm
Libtmp/GSL/SF/elljac/ELLJAC.xs
Libtmp/GSL/SF/erf/ERF.c
Libtmp/GSL/SF/erf/ERF.pm
Libtmp/GSL/SF/erf/ERF.xs
Libtmp/GSL/SF/exp/EXP.c
Libtmp/GSL/SF/exp/EXP.pm
Libtmp/GSL/SF/exp/EXP.xs
Libtmp/GSL/SF/expint/EXPINT.c
Libtmp/GSL/SF/expint/EXPINT.pm
Libtmp/GSL/SF/expint/EXPINT.xs
Libtmp/GSL/SF/fermi_dirac/FERMI_DIRAC.c
Libtmp/GSL/SF/fermi_dirac/FERMI_DIRAC.pm
Libtmp/GSL/SF/fermi_dirac/FERMI_DIRAC.xs
Libtmp/GSL/SF/gamma/GAMMA.c
Libtmp/GSL/SF/gamma/GAMMA.pm
Libtmp/GSL/SF/gamma/GAMMA.xs
Libtmp/GSL/SF/gegenbauer/GEGENBAUER.c
Libtmp/GSL/SF/gegenbauer/GEGENBAUER.pm
Libtmp/GSL/SF/gegenbauer/GEGENBAUER.xs
Libtmp/GSL/SF/hyperg/HYPERG.c
Libtmp/GSL/SF/hyperg/HYPERG.pm
Libtmp/GSL/SF/hyperg/HYPERG.xs
Libtmp/GSL/SF/laguerre/LAGUERRE.c
Libtmp/GSL/SF/laguerre/LAGUERRE.pm
Libtmp/GSL/SF/laguerre/LAGUERRE.xs
Libtmp/GSL/SF/legendre/LEGENDRE.c
Libtmp/GSL/SF/legendre/LEGENDRE.pm
Libtmp/GSL/SF/legendre/LEGENDRE.xs
Libtmp/GSL/SF/log/LOG.c
Libtmp/GSL/SF/log/LOG.pm
Libtmp/GSL/SF/log/LOG.xs
Libtmp/GSL/SF/poly/POLY.c
Libtmp/GSL/SF/poly/POLY.pm
Libtmp/GSL/SF/poly/POLY.xs
Libtmp/GSL/SF/pow_int/POW_INT.c
Libtmp/GSL/SF/pow_int/POW_INT.pm
Libtmp/GSL/SF/pow_int/POW_INT.xs
Libtmp/GSL/SF/psi/PSI.c
Libtmp/GSL/SF/psi/PSI.pm
Libtmp/GSL/SF/psi/PSI.xs
Libtmp/GSL/SF/synchrotron/SYNCHROTRON.c
Libtmp/GSL/SF/synchrotron/SYNCHROTRON.pm
Libtmp/GSL/SF/synchrotron/SYNCHROTRON.xs
Libtmp/GSL/SF/transport/TRANSPORT.c
Libtmp/GSL/SF/transport/TRANSPORT.pm
Libtmp/GSL/SF/transport/TRANSPORT.xs
Libtmp/GSL/SF/trig/TRIG.c
Libtmp/GSL/SF/trig/TRIG.pm
Libtmp/GSL/SF/trig/TRIG.xs
Libtmp/GSL/SF/zeta/ZETA.c
Libtmp/GSL/SF/zeta/ZETA.pm
Libtmp/GSL/SF/zeta/ZETA.xs
Libtmp/Image2D/Image2D.c
Libtmp/Image2D/Image2D.pm
Libtmp/Image2D/Image2D.xs
Libtmp/ImageND/ImageND.c
Libtmp/ImageND/ImageND.pm
Libtmp/ImageND/ImageND.xs
Libtmp/ImageRGB/ImageRGB.c
Libtmp/ImageRGB/ImageRGB.pm
Libtmp/ImageRGB/ImageRGB.xs
Libtmp/Minuit/Minuit.c
Libtmp/Minuit/Minuit.pm
Libtmp/Minuit/Minuit.xs
Libtmp/Minuit/minuitlib/libminuit.a
Libtmp/Slatec/Slatec.c
Libtmp/Slatec/Slatec.pm
Libtmp/Slatec/Slatec.xs
Libtmp/Slatec/SlatecProtos.h
Libtmp/Transform/Cartography/earth_day.ppm
Libtmp/Transform/Cartography/earth_night.ppm
Libtmp/Transform/Proj4/Proj4.c
Libtmp/Transform/Proj4/Proj4.pm
Libtmp/Transform/Proj4/Proj4.xs
Libtmp/Transform/Transform.c
Libtmp/Transform/Transform.pm
Libtmp/Transform/Transform.xs
MANIFEST.bak
Perldl2/pdl2.pod
_Inline/
gsl.pl
pdl
pdldoc.pod
perldl.conf-fast
perldl.conf-orig
perldl.pod
t/*.dll*
pp-*.c
